@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

.ci {
  width: 100%;
  font-family: 'Roboto';
  box-shadow: 0px 50px 25px #d8d8d8;
  padding: 50px 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
}

.items {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
/* .item {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.icon {
  width: 64px;
  height: 64px;
  background-color: #0d6efd;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.item h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
}

.item p {
  line-height: 1.6;
}

.item a {
  color: #0d6efd;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #0d6efd80;
  display: flex;
  align-items: center;
  gap: 5px;
}

.item a:hover {
  color: #0e65e7;
  text-decoration-color: #0e65e780;
}

.item a::after {
  content: ' ';
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #0d6efd;
  border-right: 1px solid #0d6efd;
  transform: rotate(45deg);
}

.item2 {
  display: flex;
  gap: 15px;
}

.content2 {
  margin-top: -5px;
}

.icon2 {
  width: 48px;
  height: 48px;
  background-color: #e9ecef;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-shrink: 0;
  border: 1px solid #dbdbdb;
}

.content2 p {
  line-height: 1.6;
}

.content2 button {
  background-color: #0d6efd;
  color: white;
  border-radius: 6px;
  border: none;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}