@import 'normalize';
@import 'bootstrap';

.beer-card {
  width: 500px;
  height: 350px;
  border: 3px solid #000;
  border-radius: 20px;
  margin: 30px auto;
}

.beer-card div {
  text-align: center;
  animation: beer 0.5s ease-in both;
}

.beer-card div img {
  height: 150px;
}

@keyframes beer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}



