html, body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.menu ul ul {
  display: none;
}

.menu {
  width: 50%;
  background-color: black;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

.menu > ul > li {
  display: inline-block;
}

.menu a {
  color: #858585;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #858585;
}

.menu a:hover {
  color: aliceblue;
}

.submenu {
  position: absolute;
  left: 112px;
  background-color: #333333;
  border-right: none;
  width: 15%;
}

.submenu li:hover {
  background-color: brown;
}

.menu .submenu.li {
  display: block;
  margin-top: 15px;
  padding: 5px;
  width: 130px;
}

.category:hover .submenu {
  display: block;
}

.menu .submenu > li ul {
  background-color: #333333;
  width: 100%;
  position: absolute;
  top: 0;
}

.menu .submenu > li:hover ul {
  display: block;
  left: 100%;
}

.triangle {
  width: 12px;
  height: 12px;
  margin: 50px auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333333;
}

.triangle {
  position: absolute;
  top: -62px;
  left: 20px;
}

.triangle-left {
  width: 12px;
  height: 12px;
  margin: 60px auto;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #ffffff;
}

.triangle-left {
  position: absolute;
  left: -12px;
  top: -45px;
}

.triangle::after {
  position: absolute;
  top: -62px;
  left: 20px;
  content: ' ';
  box-sizing: border-box;
}

.triangle-left::before {
  box-sizing: border-box;
  position: absolute;
  left: -12px;
  top: -45px;
  content: ' ';
}