html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

h1 {
  margin: 0;
  padding: 0;
}

.btn-danger {
  background-color: crimson;
}