html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, #app, #app-2 {
  width: 50%;
  flex-shrink: 0;
}

#app-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  border-radius: 10px;
  box-shadow: 0 2px 3px 10px #9896e4e1;
}

.todo h1 {
  padding: 7px 25px;
}

.todoHeader {
  color: #0b4221;
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

h1 {
  margin: 0;
  padding: 0;
}

.btn-danger {
  background-color: crimson;
  padding: 10px;
  color: antiquewhite;
  font-weight: 700;
  width: 150px;
  margin: 2px 0;
}

.btn-pink {
  background-color: #dc14c1;
  padding: 10px;
  color: antiquewhite;
  font-weight: 700;
  width: 150px;
  margin: 2px 0;
}