* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin-top: 75px;
}

#main_menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #000000;
}

#main_menu a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2em;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main_menu a:hover {
  color: crimson;
  background-color: #202022;
}

#close_menu {
  background-color: whitesmoke;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

#close_menu:hover {
  background-color: #f5f114;
}

.sub-list {
  position: absolute;
  top: 130px;
  right: 250px;
  background-color: black;
  margin-top: 0;
  display: none;
}

.cat:hover .sub-list {
  display: block;
}


