* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  padding: 18px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & a {
    text-decoration: none;
    color: red;
    font-size: 30px;

    &.active {
      text-decoration: underline;
    }
  }
}






