.timer {
  width: 200px;
  height: 80px;
  margin: 20px auto;
  border: 4px solid #8d0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer h3 {
  font-size: 50px;
  color: #8d0a0a;
}


