@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant-VariableFont_wght.ttf');
}

:root {
  --font-open-sans: 'Open Sans';
  --font-cormorant: 'Cormorant';
  --color-white: #ffffff;
  --color-grey: #899D9D;
  --color-bg: #1D2F30;
  --color-bg-shade: #0B1919;
  --color-green: #BAE249;
  --color-green-active: #688B05;
  --color-green-hover: #91AC46;
  --color-red: #E24949;
  --transition: all 0.2s linear;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-open-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-cormorant);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 77;
  background-color: var(--color-bg);
}

.header-tools {
  gap: 64px;
}

.header-tools button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  transition: var(--transition);
}

.header-tools button svg path {
  transition: var(--transition);
}

.header-tools button:hover svg path {
  stroke: var(--color-green-hover);
}

.header-tools button:focus svg path {
  stroke: var(--color-green-active);
}

.menu {
  gap: 64px;
  margin-left: 125px;
}

.menu a {
  color: var(--color-white);
}

.menu a:hover {
  color: var(--color-green);
}

.menu a:focus {
  color: var(--color-green-active);
}

#main-banner {
  background-image: url('../images/1_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 0 115px 0;
  position: relative;
}

#main-banner::after {
  content: ' ';
  display: block;
  opacity: 0.7;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-banner .container {
  position: relative;
  z-index: 5;
  color: var(--color-white);
}

#main-banner h1 {
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 16px;
}

#main-banner p {
  margin-bottom: 24px;
}

#main-banner a {
  color: var(--color-green);
  font-weight: 700;
}

#main-banner a svg path {
  transition: var(--transition);
}

#main-banner a:hover, #main-banner a:hover svg path {
  color: var(--color-green-hover);
  fill: var(--color-green-hover);
}

#main-banner a:hover svg, #main-banner a:focus svg {
  width: 51px;
  height: 17px;
}

#main-banner a svg {
  transition: var(--transition);
}

#main-banner a:focus, #main-banner a:focus svg path {
  color: var(--color-green-active);
  fill: var(--color-green-active);
}

#carousel {
  padding-top: 60px;
}

.card {
  border: none;
  background: none;
  border-radius: 0%;
  color: var(--color-grey);
  line-height: 150%;
  height: 100%;
  flex-direction: column;
}

.card .card-image {
  background-color: var(--color-bg-shade);
  padding: 30px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-image img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}

.card-image span {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  font-family: 'Cormorant';
  line-height: 100%;
  font-weight: 700;
  text-align: center;
}

.card .card-content {
  border: 1px solid var(--color-bg-shade);
  padding: 16px 16px 24px;
  flex-grow: 1;
}

.card-content h3 {
  font-weight: 700;
  color: var(--color-white);
}

.button {
  border: 1px solid var(--color-green);
  color: var(--color-green);
  border-radius: 0%;
  padding: 10.5px 28.5px;
  margin-top: auto;
  align-self: flex-start;
}

.button:hover {
  color: var(--color-bg-shade);
  background-color: var(--color-green);
}

.button:focus {
  color: var(--color-bg-shade);
  background-color: var(--color-green-active);
  border: 1px solid var(--color-green-active);
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: stretch;
}

.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 57px;
}

.slider-nav button {
  background: none;
  border: none;
  color: var(--color-white);
  font-size: 24px;
  font-family: var(--font-cormorant);
  padding: 20px;
}



.footer-socials {
  background-color: var(--color-bg-shade);
  padding: 18px 0;
}

.footer-socials nav {
  gap: 30px;
}

.footer-socials nav a:hover svg path {
  fill: var(--color-green);
}

.footer-socials nav a svg path {
  transition: var(--transition);
}

.footer-copyright {
  font-size: 12px;
  line-height: auto;
  color: var(--color-grey);
  padding: 3px 0;
}