@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

.wrapper {
  font-family: 'Roboto';
  width: 100%;
}

header {
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

h1 {
  margin: 0;
}

h1 a {
  color: aliceblue;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.ul li > a {
  color: aliceblue;
}

.ul li > a:hover {
  color: #dce0e4;
}

.ul ul {
  display: none;
  width: 250%;
  background-color: #565656;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 20px;
}

.ul li:nth-child(4) {
  position: relative;
}

.ul li:nth-child(4):hover ul {
  display: block;
}

header input {
  height: 40px;
  border-radius: 7px;
  border: none;
}

.burger {
  display: none;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  background: none;
}

.burger span {
  background-color: grey;
  height: 2px;
  width: 30px;
  display: block;
}

@media(max-width: 992px) {
  nav {
    display: none;
  }
  header input {
    display: none;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-direction: column;
  }
}